!/alacritty/
!/Code/
!/dunst/
!/dust/
!/environment.d/
!/fastfetch/
!/fish/
!/fontconfig/
!/git/
!/gitui/
!/hypr/
!/kitty/
!/mpv/
!/rofi/
!/swaylock/
!/tlrc/
!/waybar/
!/wlogout/
!/yazi/
!/zellij/

!code-flags.conf
!chromium-flags.conf
!chrome-flags.conf
!electron-flags.conf
!starship.toml
